# DATASET and WEIGHTS
COCO
weights

# emacs files
*~

# tensorboard logs
tensorboard_logs

# model checkpoints
checkpoints

# shell logs
shell_logs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class