# DATASET and WEIGHTS
COCO
weights

# emacs files
*~

# pickle files generated
data/pickle_files

# tensorboard logs
tensorboard_logs

# model checkpoints
checkpoints
checkpoints_sample

# shell logs
shell_logs

# virtualenv
env

# configuration file
settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# input and output folders
input
output

# kfbreader compiled libraries
libraries/kfbreader/libopencv_world.so.3.4.5
# kfbreader symlinks
libraries/kfbreader/libopencv_world.so.3.4
libraries/kfbreader/libhzzt.so.1